#bmiform {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30% !important;
}

h1 {
  font-family: "Kalam", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

p {
  font-family: "Kalam", cursive;
  font-size: 30px;
  font-weight: 700;
  top: 47%;
  left: 50%;
  color: rgb(254, 235, 97);
  padding-top: 15px;
}

body {
  background-color: rgb(0, 0, 0);
  background-image: url(./images/bmi.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
}
